# Django == 2.0.0
Django == 1.11.7
djangorestframework == 3.7.7
markdown == 2.6.11
Pillow == 5.0.0
django-rest-framework-social-oauth2 == 1.1.0
#-e git+git://github.com/PhilipGarnero/django-rest-framework-social-oauth2.git#egg=django-rest-framework-social-oauth2
psycopg2 == 2.7.4
django-cors-headers == 2.2.0
rest_social_auth == 1.1.0
social-auth-app-django == 2.1.0
djangorestframework-jwt == 1.11.0
boto3 == 1.6.6
django-storages == 1.6.5